*
{
    margin: 0;
    padding: 0;
}

.heade
{
    color: black;
    text-align: center;
    background-color: lightblue;
    
   
}

#word
{
    text-align: center;
    color: white;
    
}

.backimg
{
    height: 100vh;
    width: 100%;
  /*  background-color: blue; */
    background-image: url('pond.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
     
}

#word1
{
    color: white;
    text-align: center;
    background-color: lightblue;
}

.backimg1
{
    height: 100vh;
    width: 100%;
  /*  background-color: blue; */
    background-image: url('scene.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
       background-attachment: fixed;
}